/* Basic styles (expand as needed) */
body {
    font-family: sans-serif;
    margin: 0;
}

header {
    background-color: #333;
    color: white;
    padding: 1rem 0;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 960px;
    margin: 0 auto;
    padding: 0 1rem;
}

.logo {
    width: 100px;
    height: auto;
    margin: 20px;
}

nav ul {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
}

nav li {
    margin-left: 20px;
}

nav a {
    color: white;
    text-decoration: none;
}

.hero {
    position: relative;
    color: white;
    text-align: center;
    padding: 20px 0;
}

.hero-content{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
     background-color: rgba(0, 0, 0, 0.5);
    padding: 20px;
    border-radius: 10px;
     z-index: 2;
}


.btn {
    display: inline-block;
    background-color: #007bff;
    color: white;
    padding: 10px 20px;
    text-decoration: none;
    border-radius: 5px;
}

.parts-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    grid-gap: 20px;
    padding: 20px;
}

.part {
    border: 1px solid #ccc;
    padding: 10px;
    text-align: center;
}

footer {
    background-color: #333;
    color: white;
    text-align: center;
    padding: 10px;
}

/* Slider Styles */
.slider-container {
    width: 100%;
    overflow: hidden;
     position: relative;
     height: 400px;

}
.slider {
  display:flex;
  transition: transform 0.5s ease-in-out;
  overflow: hidden;
  height: 100%;
}

.slide {
    flex: 0 0 100%;
    transition:transform 0.5s ease-in-out;
    display: flex;
    justify-content:center;
}

.slide img{
   width: 100%;
     height:auto;
    display: block;
    object-fit: cover;
    height: 100%;
}


.slider-btn{
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background-color: rgba(0, 0, 0, 0.5);
    color: white;
    border: none;
    padding:10px;
    cursor: pointer;
    font-size: 1.5rem;
}
.prev {
  left: 10px;
}
.next{
    right: 10px;
}
/* Search Input */
.search_input{
    padding: 10px;
      border-radius: 5px;
     border: 1px solid #ccc;
}
/* Responsive adjustments */
@media (max-width: 768px) {
  nav ul{
    display:none;
  }
   .parts-grid {
    grid-template-columns: 1fr;
   }

}








